<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JAT Airways</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="{% static 'kaufen.css' %}" />
</head>

<body>
  <div class="wrapper">

    <div class="gore">
      <div class="logoi">
        <img src="https://www.serbianlogo.com/thumbnails/jat.gif" height="80vh" />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Jat_Airways_logo.svg/1200px-Jat_Airways_logo.svg.png"
          height="80vh" />
      </div>
      <h1 style="color: darkblue">Jugoslovenski aerotransport</h1>
    </div>

    <div class="letovi">

      <div class="upbuy">
        <div>
          <p class="flug"> Let: {{let.od}}-{{let.do}}</p>
          <p> Datum: {{let.vreme| date:"d.m.Y."}}</p>
          <p> Vreme: {{let.vreme| date:"H:i"}}</p>
        </div>
        <div class="kauform">
          <form action="" method="post">
          {% csrf_token %}
          {{forma.as_p}}
          <button type="submit">Kupi karte</button>
          </form>
        </div>

      </div>

      <div class="paketi">
        {% for pk in ostalo %}
        <div class="paket">
          <p>{{pk.tip_karte}}</p>
          <p class="pspecs">Prtljag: {{pk.tip_karte.prtljag}}</p>
          <p class="pspecs">Dodatne usluge: {{pk.tip_karte.dodusl}}</p>
          <p>{{pk.preostalo}} karata preostalo</p>
          <p>Cena: {{pk.cena}} din</p>
        </div>
        {% endfor %}
      </div>
    </div>

  </div> <!-- kraj wrappera-->
</body>

</html>