<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JAT Airways</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>
  <div class="wrapper">

    <div class="gore">

      <div>
        <img src="https://www.serbianlogo.com/thumbnails/jat.gif" height="80vh" />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Jat_Airways_logo.svg/1200px-Jat_Airways_logo.svg.png"
          height="80vh" />
      </div>

      <div class="nutzer">
        {% if request.user.username %}   
        <p>Korisnik: {{ request.user.username }}</p>
  
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit"> Logout </button>
        </form>
  
        <form action="{% url 'kupljene' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit"> Kupljene karte </button>
        </form>
        {% endif %}
        {% if not request.user.username %} 
        <p style="color: darkblue; font-weight:bold;">Jugoslovenski aerotransport</p>
        {% endif %}
      </div>
     
    </div>

    <div class="letovi">
      <form action="{% url 'rezpretrage' %}" method="get">
        <div class="izbor">
          <div>
            <label for="tfod" class="infizb">Letimo od:</label>
            <input list="options" id="tfod" name="od" placeholder="Unesite grad...">
          </div>

          <div>
            <label for="tfdo" class="infizb">Destinacija:</label>
            <input list="options" id="tfdo" name="do" placeholder="Unesite grad...">
          </div>

          <datalist id="options">
            {% for g in gradovi %}
            <option value="{{g.naziv}}">
              {% endfor %}
          </datalist>

          <button type="submit">Pretrazi letove</button>
      </form>
    </div>

    <ul>
      {% for l in letovi %}
      <li>
        <span>{{l.od.naziv}} - {{l.do.naziv}}</span>
        <span>{{l.vreme|date:"d.m.Y. H:i"}}</span>
        <form action="{% url 'kupovna' %}" method="get">
          <input type="hidden" name="id" value="{{ l.id }}">
          <button type="submit">Kupi karte</button>
      </form>
      </li>
      {% endfor %}
    </ul>

  </div>
  </div> <!-- kraj wrappera-->
</body>

</html>